body {
    background-color: azure;
}
div {
    margin: 8px;
    padding: 8px;
    width: 100%;
}
h1{
    text-align: center;
}
img {
    height: 150px;
    width: 150px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s1, .s2, .s3 {
    display: flex;
    justify-content:space-evenly ;
}
.s1 {
    background-color: blue;
    
}
.s2 {
    background-color: purple;

}
.s3 {
    background-color: white;
    
}